<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <app-nav></app-nav>
    </header>

    <main>
        <section class="parent">
            <div class="div1">
                <h1 class="title">Democratizando el <span class="text-rainbow">espacio</span>, impulsando el futuro
                    STEM.</h1>
                <p class="hero-text">Somos una ONG liderada por jóvenes apasionados por la divulgación de la ciencia
                    espacial. Creamos
                    oportunidades accesibles en ciencia, tecnología, ingeniería y matemáticas para la próxima generación
                    de
                    exploradores del cosmos.</p>
                <div class="d-inline-flex gap-1">
                    <button class="btn btn-warning buttons_d1 button-rev" type="button">Sumate a la órbita</button>
                    <button class="btn btn-outline-warning buttons_d1" type="button">Explora los proyectos</button>
                </div>
            </div>
            <div class="img-container">
                <img src="/uploads/imagen_hero.png" alt="Planet animation" class="planet">
            </div>
        </section>

        <!-- -------------------------------------- SECCIÓN "EL INICIO" ---------------------------------------------- -->
        <section class="sec-start" id="inicio">
            <app-start></app-start>
            
        </section>

        <!-- -------------------------------------- SECCIÓN "PÚBLICO OBJETIVO" ---------------------------------------------- -->
        <section class="sec-po" id="publico">
            <app-target-audience></app-target-audience>

        </section>

        <!-- -------------------------------------- SECCIÓN "NUESTRA DIVERSIDAD" ---------------------------------------------- -->
        <section class="sec-div" id="diversidad">
            <app-diversity></app-diversity>

        </section>

        <!-- -------------------------------------- SECCIÓN "NUESTRA VISIÓN" ---------------------------------------------- -->
        <section class="sec-vis" id="vision">
            <app-vision></app-vision>
        </section>

        <!-- -------------------------------------- SECCIÓN "NUESTROS VALORES" ---------------------------------------------- -->
        <section class="sec-val" id="valores">
            <app-our-principles></app-our-principles>
        </section>

        <!-- -------------------------------------- SECCIÓN "NUESTRO ALCANCE" ---------------------------------------------- -->
        <section class="sec-na" id="alcance">
            <app-our-impact></app-our-impact>

        </section>

        <!-- -------------------------------------- SECCIÓN "PUEDES ENCONTRARNOS EN" ---------------------------------------------- -->
        <section class="sec-pe" id="contacto">
            <app-find-us></app-find-us>
        </section>
    </main>

    <footer>
        <div class="footer">
            <p>© 2026 Macarena chanampa.</p>
        </div>
    </footer>
</body>

</html>