.navbar
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .text
    {
        margin-left: 10px;
        font-family: monospace;
    }
    .navCC
    {
        color:yellow;
    }
}